<mat-tab-group>
 <mat-tab label="Все поезда">
<!--    <mat-paginator [length]="100"-->
<!--                   [pageSize]="10"-->
<!--                   [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                   aria-label="Select page">-->
<!--    </mat-paginator>-->
    <div *ngIf="trains; else und">
      <div *ngIf="trains.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
          <mat-card-header style="text-align: center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>
            <hr class="post-card">
            <mat-card-subtitle>Скорость поезда:{{this.tr.trainSpeed}}</mat-card-subtitle>
            <mat-card-subtitle>Количество мест в поезде:{{this.tr.sumSeats}}</mat-card-subtitle>
          </mat-card-header>

          <span appearance="outline" *ngFor="let p of tr.pointsOfSchedule">

        <span>{{p.nameStation}} </span> <span>{{p.arrivalTime | date:'dd/MM/yy   HH:mm '}}
            --></span>

      </span>
          <mat-card-actions align="start">

            <button *ngIf="true" mat-button class="not-liked">
              <!-- [disabled]="this.trainInfoService.dateNow>tr.pointsOfSchedule[0].arrivalTime"  -->
              <mat-icon>
               train
              </mat-icon>
              Редактировать поезд
            </button>
          </mat-card-actions>


        </mat-card>
      </div>

      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Поездов нет</h1></ng-template>


    </div>
    <ng-template #und>
      <h1 style="text-align: center">нет поездов</h1>
    </ng-template>

  </mat-tab>
  <mat-tab label="Актуальные поезда">
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
    <div *ngIf="trains; else und">
      <div *ngIf="trains.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
          <mat-card-header style="text-align: center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>
            <hr class="post-card">
            <mat-card-subtitle>Скорость поезда:{{this.tr.trainSpeed}}</mat-card-subtitle>
            <mat-card-subtitle>Количество мест в поезде:{{this.tr.sumSeats}}</mat-card-subtitle>

          </mat-card-header>

          <span appearance="outline" *ngFor="let p of tr.pointsOfSchedule">

        <span>{{p.nameStation}} </span> <span>{{p.arrivalTime | date:'dd/MM/yy   HH:mm '}}
            --></span>

      </span>
          <mat-card-actions align="start">

            <button *ngIf="true" mat-button class="not-liked">
              <!-- [disabled]="this.trainInfoService.dateNow>tr.pointsOfSchedule[0].arrivalTime"  -->
              <mat-icon>
                payment
              </mat-icon>
              Редактировать поезд
            </button>
          </mat-card-actions>


        </mat-card>
      </div>

      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Поездов нет</h1></ng-template>


    </div>
    <ng-template #und>
      <h1 style="text-align: center">нет поездов</h1>
    </ng-template>


  </mat-tab>
</mat-tab-group>
