<mat-tab-group (selectedIndexChange)="gg()">

  <mat-tab label="Архив">
    <mat-paginator
      [length]="lengthItemsPast"
      [pageSizeOptions]="[10, 50, 100]"
      [pageSize]="lengthPagePast"
      (page)="getDataPast($event)"
      aria-label="Select page">
    </mat-paginator>

    <div *ngIf="trains; else und">
      <div *ngIf="trains.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
          <mat-card-header style="text-align: center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>

            <mat-card-subtitle>Скорость поезда:{{this.tr.trainSpeed}}</mat-card-subtitle>
            <mat-card-subtitle>Количество мест в поезде:{{this.tr.sumSeats}}</mat-card-subtitle>

          </mat-card-header>

          <span appearance="outline" *ngFor="let p of tr.pointsOfSchedule">

            <span>{{p.nameStation}} </span>
            <span>{{p.arrivalTime | date:'dd.MM.yyyy HH:mm '}}</span>
             <mat-icon style="transform: scale(0.80);vertical-align: middle;">{{p.delayed}}</mat-icon>
             <span> --></span>

      </span>
<mat-card-actions>
          <button *ngIf="true" mat-button class="not-liked" (click)="showPassenger(tr)">
            <mat-icon>
              people_alt
            </mat-icon>
            Пассажиры
          </button>
          </mat-card-actions>

        </mat-card>
      </div>

      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Поездов нет</h1></ng-template>


    </div>
    <ng-template #und>
      <h1 style="text-align: center">нет поездов</h1>
    </ng-template>


  </mat-tab>
  <mat-tab label="Актуальные">

    <mat-paginator
      [length]="lengthItemsAct"
      [pageSizeOptions]="[10, 50, 100]"
      [pageSize]="lengthPageAct"
      (page)="getDataAct($event)"
      aria-label="Select page">
    </mat-paginator>

    <div *ngIf="trains; else und">
      <div *ngIf="trains.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
          <mat-card-header style="text-align: center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>
            <mat-card-subtitle>Скорость поезда:{{this.tr.trainSpeed}}</mat-card-subtitle>
            <mat-card-subtitle>Количество мест в поезде :{{this.tr.sumSeats}}</mat-card-subtitle>
          </mat-card-header>
          <span style="font-weight: bold"> Маршрут:</span>

          <span appearance="outline" *ngFor="let p of tr.pointsOfSchedule">
             <span>{{p.nameStation}} </span>
            <span> {{p.arrivalTime | date:'dd.MM.yy HH:mm '}}</span>
              <mat-icon style="transform: scale(0.80);vertical-align: middle;">{{p.delayed}}</mat-icon>
             <span> --></span>

      </span>

          <mat-card-actions align="start">
            <button *ngIf="true" mat-button class="not-liked" (click)="editTrain(tr)">
              <mat-icon>
                train
              </mat-icon>
              Редактировать поезд
            </button>
            <button *ngIf="true" mat-button class="not-liked" (click)="showPassenger(tr)">
              <mat-icon>
                people_alt
              </mat-icon>
              Пассажиры
            </button>
          </mat-card-actions>

        </mat-card>
      </div>

      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Поездов нет</h1></ng-template>


    </div>
    <ng-template #und>
      <h1 style="text-align: center">нет поездов</h1>
    </ng-template>

  </mat-tab>
</mat-tab-group>
