<div class="register-page">
  <hr>
  <form [formGroup]="requestTrain">
    <div style="text-align: center">
      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of this.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl1"
               [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of this.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Начало периода</mat-label>
        <input matInput type="datetime-local" [formControl]="dateStartControl">
        <!-- (input)="dateArrival($event)"-->
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Конец периода</mat-label>
        <input matInput type="datetime-local" [formControl]="dateEndControl">
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div style="text-align: center">
      <button style="width: 10%" mat-flat-button color="primary" (click)="giveTrains()"
              [disabled]="myControl.invalid || myControl1.invalid||dateStartControl.invalid||dateEndControl.invalid">
        <!-- -->
        Найти
      </button>

    </div>
  </form>


</div>

<div *ngIf="trains; else und">
  <div *ngIf="trains.length!=0; else empty">
    <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
      <mat-card-header style="text-align: center">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>
        <hr class="post-card">
        <mat-card-subtitle>{{this.start}}</mat-card-subtitle>
        <mat-card-subtitle>{{this.end}}</mat-card-subtitle>
        <mat-card-subtitle>Свободные места {{tr.amountOfEmptySeats}}</mat-card-subtitle>
      </mat-card-header>

      <span appearance="outline" *ngFor="let p of tr.pointsOfSchedule">

        <span
          [ngStyle]="{'font-weight':(p.nameStation==this.start)||(p.nameStation==this.end)?'bold':'inherit'}">{{p.nameStation}} </span> <span>{{p.arrivalTime}}
        --></span>

      </span>
      <mat-card-actions align="start">

        <button *ngIf="true" mat-button class="not-liked" (click)="buyTicket(tr.id,i)">
          <mat-icon>
            payment
          </mat-icon>
          Купить билет
        </button>
      </mat-card-actions>


    </mat-card>
  </div>

  <ng-template #empty> Поездов нет</ng-template>


</div>
<ng-template #und>найдите себе поезда</ng-template>

