<mat-tab-group (selectedIndexChange)="gg()">
  <mat-tab label="Поиск билета">
    <div class="register-page">
      <form [formGroup]="requestTrain">
        <div style="text-align: center">
          <mat-form-field appearance="outline">
            <mat-label>Станция отправления</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   (input)="onInputStart($event)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of this.options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-icon (click)="swap()">loop</mat-icon>
          <mat-form-field appearance="outline">
            <mat-label>Станция прибытия</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl1"
                   [matAutocomplete]="auto1"
                   (input)="onInputEnd($event)">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let option1 of this.options1" [value]="option1">
                {{option1}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin-left: 2rem">
            <mat-label>Начало периода</mat-label>
            <input matInput type="datetime-local" [formControl]="dateStartControl">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-icon>remove</mat-icon>
          <mat-form-field  appearance="outline">
            <mat-label>Конец периода</mat-label>
            <input matInput type="datetime-local" [formControl]="dateEndControl">
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="text-align: center">
          <button style="width: 10%" mat-flat-button color="primary" (click)="giveTrains()"
                  [disabled]="myControl.invalid || myControl1.invalid||dateStartControl.invalid||dateEndControl.invalid">
            Найти
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="trains; else und">
      <div *ngIf="trains.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tr of trains; let i = index">
          <mat-card-header style="text-align: center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Поезд №{{tr.trainNumber}}</mat-card-title>
            <hr class="post-card">
            <mat-card-subtitle>{{this.start}}</mat-card-subtitle>
            <mat-card-subtitle>{{this.end}}</mat-card-subtitle>
            <mat-card-subtitle>Свободные места {{tr.amountOfEmptySeats}}</mat-card-subtitle>
          </mat-card-header>
          <span appearance="none" *ngFor="let p of tr.pointsOfSchedule">
        <span
          [ngStyle]="{'font-weight':(p.nameStation==this.start)||(p.nameStation==this.end)?'bold':'inherit'}">{{p.nameStation}} </span>
            <span>{{p.arrivalTime | date:'dd.MM.yyyy HH:mm '}}
              --></span>

      </span>
          <mat-card-actions align="start">
            <button *ngIf="true" mat-button class="not-liked" (click)="buyTicket(tr.id,i)">
              <!-- [disabled]="this.trainInfoService.dateNow>tr.pointsOfSchedule[0].arrivalTime"  -->
              <mat-icon>
                payment
              </mat-icon>
              Купить билет
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Поездов нет</h1></ng-template>
    </div>
    <ng-template #und>
      <h1 style="text-align: center">Найдите себе поезда</h1>
    </ng-template>
  </mat-tab>
  <mat-tab label="Расписание">
    <div><h1 style="margin-left: 1rem">Расписание по станции</h1></div>
    <mat-form-field appearance="outline">
      <mat-label style="margin-left: 1rem">Станция</mat-label>
      <input style="margin-left: 1rem"
             type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl2"
             [matAutocomplete]="auto2"
             (input)="onInputSchedule($event)">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let option2 of this.options2" [value]="option2">
          {{option2}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button *ngIf="true" mat-button class="not-liked" (click)="getSchedule()">
      <!--    (click)="buyTicket(tr.id,i)-->
      <!-- [disabled]="this.trainInfoService.dateNow>tr.pointsOfSchedule[0].arrivalTime"  -->
      <mat-icon>
        schedule
      </mat-icon>
      Показать расписание
    </button>
    <div><h1> {{st}}</h1></div>
    <mat-grid-list cols="5" rowHeight="50px" style="background: lavender; border: solid">
      <mat-grid-tile>Поезд №</mat-grid-tile>
      <mat-grid-tile>Сообщением</mat-grid-tile>
      <mat-grid-tile>Прибытие</mat-grid-tile>
      <mat-grid-tile>Отправление</mat-grid-tile>
      <mat-grid-tile>статус</mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="isLoaded">
      <mat-grid-list *ngFor="let trainSchedule of trainsForSchedule; let idx = index"
                     cols="5" rowHeight="50px" style="background: white; border: solid">
        <mat-grid-tile>
          <div>{{trainSchedule.trainNumber}}</div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <span>{{trainSchedule.pointsOfSchedule[0].nameStation}}--</span>
            <span>{{trainSchedule.pointsOfSchedule[trainSchedule.pointsOfSchedule.length - 1].nameStation}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>{{this.arrdep[idx].arr | date:'dd.MM.yyyy HH:mm'}}</mat-grid-tile>
        <mat-grid-tile>{{this.arrdep[idx].dep | date:'dd.MM.yyyy HH:mm'}}</mat-grid-tile>
        <mat-grid-tile>{{this.arrdep[idx].status}}</mat-grid-tile>
      </mat-grid-list>
    </div>
    <!--    <div *ngIf="this.trainsForSchedule">-->
    <!--      <div *ngIf="this.trainsForSchedule.length>0; else  emptyTrains">-->
    <!--        <div *ngFor="let train of trainsForSchedule">-->
    <!--          -->

    <!--        </div>-->

    <!--      </div>-->


    <!--    </div>-->


    <!--    <ng-template #emptyTrains> по станции не проходят поезда в обозримом будущем </ng-template>-->


  </mat-tab>
</mat-tab-group>
