<div class="register-page">
  <form [formGroup]="requestTrain">
    <div style="text-align: center">
      <mat-form-field appearance="outline">
        <mat-label> Станция отправления</mat-label>
        <input type="text" matInput formControlName="startStation">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Станция прибытия</mat-label>
        <input matInput formControlName="stopStation">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div style="text-align: center">
      <button style="width: 10%" mat-flat-button color="primary" (click)="giveTrains()"
              [disabled]="requestTrain.invalid">
        Найти
      </button>

    </div>
  </form>


</div>
<div *ngIf="isPassengerDataLoaded&&isTrainLoaded" class="index-page">
  <div *ngFor="let tr of trains; let i = index">
    <mat-card-header class="post-card" style="text-align: left">
      <mat-card-header>
        <div>Поезд №{{tr.trainNumber}}</div>
      </mat-card-header>
      <mat-card-header>
        <div>{{tr.startStation}}</div>
      </mat-card-header>
      <mat-card-header>
        <div>{{tr.stopStation}}</div>
      </mat-card-header>
      <button style="width: 10%" mat-flat-button color="primary" (click)="buyTicket(tr.id,i)"
              [disabled]="requestTrain.invalid">
        купить
      </button>
      <div>

        <mat-card-content>Отправление {{tr.start}}</mat-card-content>

        <mat-card-content>Прибытие {{tr.stop}}</mat-card-content>
      </div>
    </mat-card-header>
  </div>

  <div *ngIf="false">
    <mat-card class="post-card" *ngFor="let tr of trains; let i = index">


      <mat-card-header style="text-align: left">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{tr.trainNumber}}</mat-card-title>
        <mat-card-subtitle>{{tr.startStation}}</mat-card-subtitle>
        <mat-card-subtitle>{{tr.stopStation}}</mat-card-subtitle>
      </mat-card-header>

      <div class=" display: inline-block">
        <mat-card-content>Пассажир {{tr.start}}</mat-card-content>
        <mat-card-content>{{tr.stop}}</mat-card-content>
      </div>
      <mat-card-actions align="start">

        <button *ngIf="isPassengerDataLoaded" mat-button class="not-liked">
          <mat-icon>
            payment
          </mat-icon>
          Купить билет
        </button>
      </mat-card-actions>


      <mat-form-field class="w-100">
        <mat-label>Leave a comment...</mat-label>

        <mat-hint align="end"> / 128</mat-hint>
      </mat-form-field>

    </mat-card>
  </div>
</div>
