<div>
  <h1 style="margin-left: 10rem"> Мои билеты </h1>


  <button (click)="getTickets()">get</button>
</div>
<hr>
<div  *ngIf="this.tickets; else go">
  <mat-card class="post-card" *ngFor="let ticket of tickets">
    <mat-card-title>БИЛЕТ</mat-card-title>
    <hr>
    <mat-card-title>Поезд №{{ticket.numberTrainOwner}}</mat-card-title>
    <mat-card-subtitle style="color: black">
      <h3>
        <div>Станция отправления: {{ticket.nameStations[0].nameStation}}</div>
        <div> Время отправления: {{ticket.nameStations[0].arrivalTime}}</div>
      </h3>
      <h3>
        <div>Станция прибытия: {{ticket.nameStations[ticket.nameStations.length-1].nameStation}}</div>
        <div> Время прибытия: {{ticket.nameStations[ticket.nameStations.length-1].arrivalTime}}</div>
      </h3>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span appearance="outline" *ngFor="let p of ticket.nameStations">

        <span
          [ngStyle]="{'font-weight':(p.nameStation==ticket.nameStations[0].nameStation)||(p.nameStation==ticket.nameStations[ticket.nameStations.length-1].arrivalTime)?'bold':'inherit'}">
          {{p.nameStation}} </span>
        <span>{{p.arrivalTime}} --></span>

      </span>
    </mat-card-subtitle>
  </mat-card>
</div>
<ng-template #go>
билетов нет</ng-template>
