<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Номер поезда</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of this.options" [value]="option.trainNumber"
                  (onSelectionChange)="getTrain($event)">
        {{option.trainNumber}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button style="width: 10%" mat-flat-button color="primary" (click)="giveTickets()"
          [disabled]="myControl.invalid" >
    Показать
  </button>

</mat-card>
<div *ngIf="this.train">
  <mat-card-title>
    <div style="margin-top: 1rem; margin-left: 1rem">Поезд №:{{this.train.trainNumber}}</div>
    <mat-card-subtitle>
      <div style="margin-top: 1rem; margin-left: 1rem">Вместимость:{{this.train.sumSeats}}</div>
    </mat-card-subtitle>
  </mat-card-title>
</div>

<mat-tab-group (selectedIndexChange)="gg()">
  <mat-tab label="Зарегистрированные пасажиры">
<div *ngIf="ticketsReg; else und">
  <div *ngIf="ticketsReg.length!=0; else empty">
    <mat-card class="index-page" *ngFor="let tck of ticketsReg; let i = index">
      <mat-card-header style="text-align: center">

        <mat-card-title>Пассажир:{{tck.firstnamePassenger + ' '}} {{tck.lastnamePassenger + ' '}}</mat-card-title>
        <mat-card-subtitle>Дата рождения:{{tck.dateOfBirth}}</mat-card-subtitle>
        <mat-card-subtitle> Место№{{tck.seatNumber}}</mat-card-subtitle>

      </mat-card-header>

      <span appearance="outline" *ngFor="let p of tck.nameStations">

        <span>{{p.nameStation}} </span> <span>{{p.arrivalTime | date:'dd.MM.yyyy HH:mm '}}
        --></span>

      </span>

    </mat-card>
  </div>

  <ng-template style="text-align: center" #empty>
    <h1 style="text-align: center; margin-top: 1rem">нет зарегистрированных пассажиров</h1></ng-template>


</div>
<ng-template #und>
  <h1 style="text-align: center">выберете поезд</h1>
</ng-template>
  </mat-tab>

  <mat-tab label="Все пассажиры">
    <div *ngIf="ticketsAll; else und">
      <div *ngIf="ticketsAll.length!=0; else empty">
        <mat-card class="index-page" *ngFor="let tck of ticketsAll; let i = index">
          <mat-card-header style="text-align: center">

            <mat-card-title>Пассажир:{{tck.firstnamePassenger + ' '}} {{tck.lastnamePassenger + ' '}}</mat-card-title>
            <mat-card-subtitle>Дата рождения:{{tck.dateOfBirth}}</mat-card-subtitle>
            <mat-card-subtitle> Место№{{tck.seatNumber}}</mat-card-subtitle>

          </mat-card-header>

          <span appearance="outline" *ngFor="let p of tck.nameStations">

        <span>{{p.nameStation}} </span> <span>{{p.arrivalTime | date:'dd.MM.yyyy HH:mm '}}
            --></span>

      </span>

        </mat-card>
      </div>

      <ng-template style="text-align: center" #empty>
        <h1 style="text-align: center">Не продано ни одного билета</h1></ng-template>


    </div>
    <ng-template #und>
      <h1 style="text-align: center">выберете поезд</h1>
    </ng-template>
  </mat-tab>
</mat-tab-group>
